body {
background: black;
font-family: Arial, Helvetica, sans-serif;
display: flex;
flex-wrap: wrap;
}
h1 {
color: white;
text-align: center;
width: 100%;
display: block;
}
h1:hover{
  color: maroon;
  width: 100%;
display: block;
}
a{
  text-decoration: none;
  color: black;
}
.assign {
display: flex;
padding: 8px;
margin: 15px;
background: skyblue;
display: block;
width: 20%;
border-radius: 20px;
box-shawdow: 8px 8px maroon;
}
.assign img {
width: 300px;
padding: 10px;
border-radius: 20px; /* curved corners */
}

